<div *ngIf="submissions$ | async as submissions; else loading">
  <div *ngFor="let item of submissions | keyvalue | slice: 0:100">
    <div>
      Key: <b>{{ item.key }}</b>
    </div>
    <div>Entry ID: {{ item.value.entry_id }}</div>
    <div>Entry date: {{ item.value.entry_date }}</div>
    <div>Entry name: {{ item.value.entry_name }}</div>
    <div>Entry image: <img [src]="item.value.entry_image" /></div>
    <div>User ID: {{ item.value.user_id }}</div>
    <div>User name: {{ item.value.user_name }}</div>
    <div>Manufacturer: {{ item.value.manufacturer }}</div>
    <div>Category: {{ item.value.category }}</div>
    <div>View count: {{ item.value.view_count }}</div>
    <div>Vote count: {{ item.value.vote_count }}</div>
    <div>Vote average: {{ item.value.vote_average }}</div>
  </div>
</div>

<ng-template #loading> Loading... </ng-template>

<router-outlet></router-outlet>
