<div class="main">
  <div class="current" *ngIf="current$ | async as current; else loading">
    <h1>{{ current.entry_name }}</h1>
    by {{ current.user_name }}
    <div class="current-content">
      <div>
        <img [src]="current.entry_image" />
      </div>
      <div>
        <div>Entry ID: {{ current.entry_id }}</div>
        <div>Entry date: {{ current.entry_date | date }}</div>
        <div>User ID: {{ current.user_id }}</div>
        <div>Manufacturer: {{ current.manufacturer }}</div>
        <div>Category: {{ current.category }}</div>
        <div>View count: {{ current.view_count }}</div>
        <div>Vote count: {{ current.vote_count }}</div>
        <div>Vote average: {{ current.vote_average }}</div>
      </div>
    </div>
  </div>
  <ng-template #loading> Loading... </ng-template>
</div>
<router-outlet></router-outlet>
